# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/
.pub-cache/
.pub/
build/
coverage/

/doc/api/
/ios/Flutter/.last_build_id

# File generati da Flutter su qualunque piattaforma
**/GeneratedPluginRegistrant.*

# =========================
# IDE / Editor / OS
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
.iws
.idea/
.vscode/

# =========================
# Android
# =========================
android/.gradle/
android/**/build/
android/.cxx/
android/**/captures/
android/**/.externalNativeBuild/
android/local.properties

# Keystore/chiavi locali
android/key.properties
android/**/*.jks
android/**/*.keystore

android/app/src/debug/
android/app/src/profile/

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/xcuserdata/
ios/**/*.xcuserdatad/
ios/**/*.xcuserstate
ios/**/DerivedData/

# =========================
# macOS
# =========================
macos/Pods/
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/xcuserdata/
macos/Flutter/GeneratedPluginRegistrant.*
macos/**/DerivedData/

# =========================
# Windows
# =========================
windows/flutter/ephemeral/
windows/**/build/

# =========================
# Linux
# =========================
linux/flutter/ephemeral/
linux/**/build/

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json

 styles.xml