gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
key.properties
**/*.keystore
**/*.jks
styles.xml

**/key.properties
**/*.jks
**/*.keystore
**/res/values/google_maps_api.xml
